
*{
  box-sizing: border-box;
  text-decoration: none;
}


.container-login input {
  border: none !important;
  background-color: #fff !important;
  
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset; 
}

textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 30px white inset;
  border: 0 none;
  outline: 0;
} 

body{
  background-color: #f7f7f7;
}

/*Start Mobile*/
@media (max-width: 1024px) {
  .card-login-desktop{
    display: none;
  }
  .login-container{
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    min-height: 90vh;
    justify-content: center;

  }

 .card-login-desktop input::placeholder {
    color: #271d77;
  }

  .image-login{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
  }

  .login-container .input-login, .btn-login{
    min-height: 45px;
    height: 45px;
    min-width: 100% !important;
    border-radius: 20px;
    border: 1px solid #271d77;
    background-color: #fff;
  }

  .input-login{
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    color:#271d77;
  }


  .forgot-password{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
  }

  .login-container input{
  
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }

  .btn-login{
    width: 100%;
    border: none;
    background-color: #271d77;
    color: #fff;
    margin: 5px;
    
  }
}

/*Start Desktop*/
@media (min-width: 1024px) {
  .card-login-desktop{
    background-color: #271d77;
    width: 50%;
    color: #fff;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
   

  }


  .card-box{
    display: flex;
    width: 100%;
    box-shadow: 0 0 8px #c4c4c4 ;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    max-width: 960px;
    min-width: 960px;
    
  }

  .container-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
 
 
  }
  
  .login-container{
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    justify-content: center;
    width: 50%;
    padding: 100px;
    
  }

  .card-login-desktop input::placeholder {
    color: #271d77;
  }


  .image-login-desk{
    margin-bottom: -15px;
  }

  .image-login{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
  }

  .login-container .input-login, .btn-login{
    min-height: 45px;
    height: 45px;
    min-width: 100% !important;
    border-radius: 20px;
    border: 1px solid #271d77;
    background-color: #fff;
  }



  .input-login{
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    color:#271d77;
  }

  .login-container .form-group{
    width: 90% ;
  
    
  }


  .forgot-password{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
  }


  .btn-login{
    width: 100%;
    border: none;
    background-color: #271d77;
    color: #fff;
    margin: 5px;
    
  }
}

/* End Desktop*/


/*End Mobile*/
