*{
  box-sizing: border-box;
  text-decoration: none;
 
}
body{
   background-color: #f7f7f7 !important;
}

/*Start Mobile*/

@media (max-width: 1024px) {


  .container-assessment{
    padding: 0 10px;
  }
  
  .avaliation-logo{
    margin: 10px;
    display: flex;
    justify-content:start;
    align-items:center ;
  }
  .container-logo-user{
    display: flex;
    align-items: end;
    justify-content:space-between;
  }

  .avaliation-logo img{
    width: 100px;
    height: 36px;
  }
  .avaliation-user{
    display: flex;
    justify-content: center;
  }

  .avaliation-user h4{
    color:#271d77 ;
  }

  .box-user-label{
    display: flex;
    gap: 5px;
    margin-right: 10px;
  }

  .box-user-label h4{
    font-size: 1rem;
  }

  .img-user{
    color: gray;
    font-size: 1.5rem;
  }

  .container-cards{
    color: #271d77;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-size: .9rem;
    margin-top: 12vh;
  }

  .container-cards h2{
    text-align: center;
    margin: 15px;
    font-size: 1.2rem;
  }

  .box-cards{
    display: flex;
    justify-content: center; 
    flex-direction: column;
    gap: 20px;
  }

  .box-more{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .box-more .more{
    width: 95%;
    text-align: end;
    margin-bottom: 5px;
  }

  .card{
    width: 95%;
    min-width: 320px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #271d77;
    text-align: center;
    color:#271d77;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .card:hover{
    background-color: #271d77;
    color: #fff;
  }
  .content-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .content-card{
    font-size: .9rem;
  }

  .icon-card{
   top:5px;
   right: 5px;
   font-size: .8rem;
 
  }

}




/*Start Desktop*/
@media (min-width: 1024px) {

  .container-assessment{
    padding: 0 10px;
  }
  
  .avaliation-logo img{
    margin: 10px;
  }

  .avaliation-user h4{
    color:#271d77 ;
  }

  .box-user-label{
    display: flex;
    gap: 10px;
    margin:20px 0 0 50px;
  }

  .img-user{
    color: gray;
    font-size: 2rem;
  }

  .container-cards{
    color: #271d77;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  .box-cards{
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .card{
    width: 80%;
    min-width: 300px;
    padding: 20px;
    border-radius: 35px;
    border: 1px solid #271d77;
    text-align: center;
    color:#271d77;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .box-more{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
  }

  .box-more .more{
    width: 80%;
    text-align: end;
  }

  .card:hover{
    background-color: #271d77;
    color: #fff;
  }
  .content-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .icon-card{
   color: rgb(80, 80, 80);
   margin: 5px;
   font-size: 1rem;
  }

}

